In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from tensorflow import keras

In [2]:
df = pd.read_csv("./BPM_values.csv")
df.head()

     State  BPM  gender  age                bred
0  Anomaly   60    male    5     German Shepherd
1  Anomaly   61    male    3             Bulldog
2  Anomaly   62  female    4  Labrador Retriever
3  Anomaly   63  female    5    Golden Retriever
4  Anomaly   64    male    2  Labrador Retriever

In [3]:
df['State'].value_counts()

State
Normal     56
Anomaly    55
Name: count, dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   State   111 non-null    object
 1   BPM     111 non-null    int64
 2   gender  111 non-null    object
 3   age     111 non-null    int64
 4   bred    111 non-null    object
dtypes: int64(2), object(3)
memory usage: 4.5+ KB

In [5]:
df.isnull().sum()

State     0
BPM       0
gender    0
age       0
bred      0
dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['gender'] = le.fit_transform(df['gender'])
df['bred'] = le.fit_transform(df['bred'])
df['State'] = le.fit_transform(df['State'])
df.head()

   State  BPM  gender  age  bred
0      0   60       1    5     3
1      0   61       1    3     1
2      0   62       0    4     5
3      0   63       0    5     4
4      0   64       1    2     5

In [8]:
state_name = le.classes_
print(state_name)

['Anomaly' 'Normal']

In [9]:
X = df.drop(columns=['State'])
y = df['State']
X.head(3)

   BPM  gender  age  bred
0   60       1    5     3
1   61       1    3     1
2   62       0    4     5

In [10]:
y.head(3)

0    0
1    0
2    0
Name: State, dtype: int32

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=69)

In [12]:
x_test

     BPM  gender  age  bred
8     68       0    3     1
13    73       1    1     3
66   106       1    5     4
17    77       0    3     5
64   104       1    3     3
81   121       1    5     3
52    92       1    2     5
33    83       0    3     4
10    70       1    5     6
91   131       0    2     1
98   138       1    4     6
71   111       0    1     0
84   124       1    1     1
34    83       1    4     1
62   102       0    4     0
30    82       1    4     5
26    80       0    5     1
102  142       1    1     0
28    80       1    2     3
87   127       1    3     5
51    92       0    5     4
31    82       1    1     3
68   108       0    2     4
94   134       0    1     5
100  140       0    1     2
104  144       1    3     3
42    86       1    5     1
15    75       0    1     3
25    80       1    5     6
5     65       0    3     3
36    84       1    2     6
92   132       1    1     5
58    98       1    5     6
6     66       1    1     1

In [13]:
x_train.shape

(77, 4)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
print(x_train[:1])
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)
print(x_train[:1])
print(x_test[:1])

    BPM  gender  age  bred
95  135       0    3     3
[[ 1.30803397 -0.91287093 -0.3825599   0.13083893]]
[[-1.33105373 -0.91287093 -0.3825599  -1.05440782]]

In [15]:
y_train = keras.utils.to_categorical(y_train, num_classes=2)
print(y_train[:5])

[[1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]
 [1. 0.]]

In [16]:
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [17]:
model = Sequential()
model.add(Dense(units=32, activation='relu', input_shape=(x_train.shape[-1], )))
model.add(Dense(units=32, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(units=2, activation='softmax'))

In [18]:
model.compile(optimizer='Adam', loss='categorical_crossentropy', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                160

 dense_1 (Dense)             (None, 32)                1056

 dropout (Dropout)           (None, 32)                0

 dense_2 (Dense)             (None, 2)                 66

=================================================================
Total params: 1282 (5.01 KB)
Trainable params: 1282 (5.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
model.fit(x_train, y_train, epochs=100, verbose=2)

Epoch 1/100
3/3 - 0s - loss: 0.7736 - accuracy: 0.4675 - 482ms/epoch - 161ms/step
Epoch 2/100
3/3 - 0s - loss: 0.7264 - accuracy: 0.5455 - 5ms/epoch - 2ms/step
Epoch 3/100
3/3 - 0s - loss: 0.7333 - accuracy: 0.4805 - 4ms/epoch - 1ms/step
Epoch 4/100
3/3 - 0s - loss: 0.7530 - accuracy: 0.4805 - 4ms/epoch - 1ms/step
Epoch 5/100
3/3 - 0s - loss: 0.7136 - accuracy: 0.5584 - 4ms/epoch - 1ms/step
Epoch 6/100
3/3 - 0s - loss: 0.7009 - accuracy: 0.5584 - 4ms/epoch - 1ms/step
Epoch 7/100
3/3 - 0s - loss: 0.6703 - accuracy: 0.6104 - 4ms/epoch - 1ms/step
Epoch 8/100
3/3 - 0s - loss: 0.6680 - accuracy: 0.6234 - 4ms/epoch - 1ms/step
Epoch 9/100
3/3 - 0s - loss: 0.6625 - accuracy: 0.6104 - 4ms/epoch - 1ms/step
Epoch 10/100
3/3 - 0s - loss: 0.6269 - accuracy: 0.7013 - 5ms/epoch - 2ms/step
Epoch 11/100
3/3 - 0s - loss: 0.6526 - accuracy: 0.5974 - 4ms/epoch - 1ms/step
Epoch 12/100
3/3 - 0s - loss: 0.6227 - accuracy: 0.7143 - 4ms/epoch - 1ms/step
Epoch 13/100
3/3 - 0s - loss: 0.5828 - accuracy: 0.7273 - 6ms/epoch - 2ms/step
Epoch 14/100
3/3 - 0s - loss: 0.6106 - accuracy: 0.7273 - 6ms/epoch - 2ms/step
Epoch 15/100
3/3 - 0s - loss: 0.5726 - accuracy: 0.7532 - 5ms/epoch - 2ms/step
Epoch 16/100
3/3 - 0s - loss: 0.5984 - accuracy: 0.7532 - 6ms/epoch - 2ms/step
Epoch 17/100
3/3 - 0s - loss: 0.5801 - accuracy: 0.7403 - 5ms/epoch - 2ms/step
Epoch 18/100
3/3 - 0s - loss: 0.6134 - accuracy: 0.7403 - 6ms/epoch - 2ms/step
Epoch 19/100
3/3 - 0s - loss: 0.5706 - accuracy: 0.7403 - 4ms/epoch - 1ms/step
Epoch 20/100
3/3 - 0s - loss: 0.5662 - accuracy: 0.7532 - 4ms/epoch - 1ms/step
Epoch 21/100
3/3 - 0s - loss: 0.5365 - accuracy: 0.8182 - 4ms/epoch - 1ms/step
Epoch 22/100
3/3 - 0s - loss: 0.5352 - accuracy: 0.7922 - 4ms/epoch - 1ms/step
Epoch 23/100
3/3 - 0s - loss: 0.5435 - accuracy: 0.7792 - 4ms/epoch - 1ms/step
Epoch 24/100
3/3 - 0s - loss: 0.5319 - accuracy: 0.8182 - 5ms/epoch - 2ms/step
Epoch 25/100
3/3 - 0s - loss: 0.4934 - accuracy: 0.8312 - 3ms/epoch - 1000us/step
Epoch 26/100
3/3 - 0s - loss: 0.4635 - accuracy: 0.8571 - 3ms/epoch - 1ms/step
Epoch 27/100
3/3 - 0s - loss: 0.4830 - accuracy: 0.8442 - 5ms/epoch - 2ms/step
Epoch 28/100
3/3 - 0s - loss: 0.4727 - accuracy: 0.8442 - 4ms/epoch - 1ms/step
Epoch 29/100
3/3 - 0s - loss: 0.4956 - accuracy: 0.8571 - 4ms/epoch - 1ms/step
Epoch 30/100
3/3 - 0s - loss: 0.4687 - accuracy: 0.8052 - 4ms/epoch - 1ms/step
Epoch 31/100
3/3 - 0s - loss: 0.4793 - accuracy: 0.7922 - 4ms/epoch - 1ms/step
Epoch 32/100
3/3 - 0s - loss: 0.4677 - accuracy: 0.8701 - 4ms/epoch - 1ms/step
Epoch 33/100
3/3 - 0s - loss: 0.4666 - accuracy: 0.8052 - 4ms/epoch - 1ms/step
Epoch 34/100
3/3 - 0s - loss: 0.4485 - accuracy: 0.8571 - 5ms/epoch - 2ms/step
Epoch 35/100
3/3 - 0s - loss: 0.3977 - accuracy: 0.9091 - 4ms/epoch - 1ms/step
Epoch 36/100
3/3 - 0s - loss: 0.4145 - accuracy: 0.7792 - 4ms/epoch - 1ms/step
Epoch 37/100
3/3 - 0s - loss: 0.4218 - accuracy: 0.8312 - 4ms/epoch - 1ms/step
Epoch 38/100
3/3 - 0s - loss: 0.3947 - accuracy: 0.8701 - 3ms/epoch - 1ms/step
Epoch 39/100
3/3 - 0s - loss: 0.4136 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 40/100
3/3 - 0s - loss: 0.4168 - accuracy: 0.8442 - 5ms/epoch - 2ms/step
Epoch 41/100
3/3 - 0s - loss: 0.3889 - accuracy: 0.8182 - 5ms/epoch - 2ms/step
Epoch 42/100
3/3 - 0s - loss: 0.3564 - accuracy: 0.9091 - 6ms/epoch - 2ms/step
Epoch 43/100
3/3 - 0s - loss: 0.4122 - accuracy: 0.8442 - 6ms/epoch - 2ms/step
Epoch 44/100
3/3 - 0s - loss: 0.3726 - accuracy: 0.8442 - 6ms/epoch - 2ms/step
Epoch 45/100
3/3 - 0s - loss: 0.3460 - accuracy: 0.8831 - 6ms/epoch - 2ms/step
Epoch 46/100
3/3 - 0s - loss: 0.3906 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 47/100
3/3 - 0s - loss: 0.3534 - accuracy: 0.8571 - 4ms/epoch - 1ms/step
Epoch 48/100
3/3 - 0s - loss: 0.3796 - accuracy: 0.8571 - 4ms/epoch - 1ms/step
Epoch 49/100
3/3 - 0s - loss: 0.3835 - accuracy: 0.8182 - 4ms/epoch - 1ms/step
Epoch 50/100
3/3 - 0s - loss: 0.3078 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 51/100
3/3 - 0s - loss: 0.3535 - accuracy: 0.8182 - 5ms/epoch - 2ms/step
Epoch 52/100
3/3 - 0s - loss: 0.3586 - accuracy: 0.8831 - 3ms/epoch - 997us/step
Epoch 53/100
3/3 - 0s - loss: 0.3367 - accuracy: 0.8831 - 3ms/epoch - 1ms/step
Epoch 54/100
3/3 - 0s - loss: 0.3077 - accuracy: 0.8961 - 4ms/epoch - 1ms/step
Epoch 55/100
3/3 - 0s - loss: 0.3354 - accuracy: 0.8831 - 3ms/epoch - 1ms/step
Epoch 56/100
3/3 - 0s - loss: 0.2892 - accuracy: 0.9091 - 4ms/epoch - 1ms/step
Epoch 57/100
3/3 - 0s - loss: 0.3174 - accuracy: 0.8831 - 5ms/epoch - 2ms/step
Epoch 58/100
3/3 - 0s - loss: 0.3832 - accuracy: 0.8571 - 3ms/epoch - 997us/step
Epoch 59/100
3/3 - 0s - loss: 0.3429 - accuracy: 0.8312 - 3ms/epoch - 1ms/step
Epoch 60/100
3/3 - 0s - loss: 0.3404 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 61/100
3/3 - 0s - loss: 0.3306 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 62/100
3/3 - 0s - loss: 0.2936 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 63/100
3/3 - 0s - loss: 0.3175 - accuracy: 0.8571 - 5ms/epoch - 2ms/step
Epoch 64/100
3/3 - 0s - loss: 0.3256 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 65/100
3/3 - 0s - loss: 0.2830 - accuracy: 0.9221 - 3ms/epoch - 1ms/step
Epoch 66/100
3/3 - 0s - loss: 0.2896 - accuracy: 0.8831 - 5ms/epoch - 2ms/step
Epoch 67/100
3/3 - 0s - loss: 0.3084 - accuracy: 0.8571 - 4ms/epoch - 1ms/step
Epoch 68/100
3/3 - 0s - loss: 0.2968 - accuracy: 0.8961 - 4ms/epoch - 1ms/step
Epoch 69/100
3/3 - 0s - loss: 0.3229 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 70/100
3/3 - 0s - loss: 0.2973 - accuracy: 0.8961 - 5ms/epoch - 2ms/step
Epoch 71/100
3/3 - 0s - loss: 0.3389 - accuracy: 0.8831 - 5ms/epoch - 2ms/step
Epoch 72/100
3/3 - 0s - loss: 0.2710 - accuracy: 0.8831 - 7ms/epoch - 2ms/step
Epoch 73/100
3/3 - 0s - loss: 0.2858 - accuracy: 0.8831 - 6ms/epoch - 2ms/step
Epoch 74/100
3/3 - 0s - loss: 0.2631 - accuracy: 0.8701 - 7ms/epoch - 2ms/step
Epoch 75/100
3/3 - 0s - loss: 0.2891 - accuracy: 0.8961 - 7ms/epoch - 2ms/step
Epoch 76/100
3/3 - 0s - loss: 0.3210 - accuracy: 0.8831 - 6ms/epoch - 2ms/step
Epoch 77/100
3/3 - 0s - loss: 0.2734 - accuracy: 0.9221 - 5ms/epoch - 2ms/step
Epoch 78/100
3/3 - 0s - loss: 0.2746 - accuracy: 0.8961 - 3ms/epoch - 997us/step
Epoch 79/100
3/3 - 0s - loss: 0.2377 - accuracy: 0.9091 - 4ms/epoch - 1ms/step
Epoch 80/100
3/3 - 0s - loss: 0.2660 - accuracy: 0.8701 - 5ms/epoch - 2ms/step
Epoch 81/100
3/3 - 0s - loss: 0.2794 - accuracy: 0.9221 - 5ms/epoch - 2ms/step
Epoch 82/100
3/3 - 0s - loss: 0.2891 - accuracy: 0.8701 - 3ms/epoch - 997us/step
Epoch 83/100
3/3 - 0s - loss: 0.2524 - accuracy: 0.8961 - 4ms/epoch - 1ms/step
Epoch 84/100
3/3 - 0s - loss: 0.2606 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 85/100
3/3 - 0s - loss: 0.2945 - accuracy: 0.9091 - 4ms/epoch - 1ms/step
Epoch 86/100
3/3 - 0s - loss: 0.2591 - accuracy: 0.9221 - 5ms/epoch - 2ms/step
Epoch 87/100
3/3 - 0s - loss: 0.2507 - accuracy: 0.9351 - 4ms/epoch - 1ms/step
Epoch 88/100
3/3 - 0s - loss: 0.2265 - accuracy: 0.9221 - 3ms/epoch - 1ms/step
Epoch 89/100
3/3 - 0s - loss: 0.2610 - accuracy: 0.8701 - 5ms/epoch - 2ms/step
Epoch 90/100
3/3 - 0s - loss: 0.2664 - accuracy: 0.8961 - 4ms/epoch - 1ms/step
Epoch 91/100
3/3 - 0s - loss: 0.2189 - accuracy: 0.9091 - 4ms/epoch - 1ms/step
Epoch 92/100
3/3 - 0s - loss: 0.2849 - accuracy: 0.8831 - 4ms/epoch - 1ms/step
Epoch 93/100
3/3 - 0s - loss: 0.2713 - accuracy: 0.8961 - 4ms/epoch - 1ms/step
Epoch 94/100
3/3 - 0s - loss: 0.1896 - accuracy: 0.9740 - 3ms/epoch - 1000us/step
Epoch 95/100
3/3 - 0s - loss: 0.2536 - accuracy: 0.8701 - 5ms/epoch - 2ms/step
Epoch 96/100
3/3 - 0s - loss: 0.2451 - accuracy: 0.9221 - 4ms/epoch - 1ms/step
Epoch 97/100
3/3 - 0s - loss: 0.2934 - accuracy: 0.9091 - 14ms/epoch - 5ms/step
Epoch 98/100
3/3 - 0s - loss: 0.2181 - accuracy: 0.9091 - 6ms/epoch - 2ms/step
Epoch 99/100
3/3 - 0s - loss: 0.2395 - accuracy: 0.9351 - 8ms/epoch - 3ms/step
Epoch 100/100
3/3 - 0s - loss: 0.2611 - accuracy: 0.9091 - 5ms/epoch - 2ms/step

In [20]:
x_test

array([[-1.33105373, -0.91287093, -0.3825599 , -1.05440782],
       [-1.13410689,  1.09544512, -1.81949223,  0.13083893],
       [ 0.16574228,  1.09544512,  1.05437242,  0.7234623 ],
       [-0.97654941, -0.91287093, -0.3825599 ,  1.31608568],
       [ 0.08696354,  1.09544512, -0.3825599 ,  0.13083893],
       [ 0.75658281,  1.09544512,  1.05437242,  0.13083893],
       [-0.38570888,  1.09544512, -1.10102607,  1.31608568],
       [-0.7402132 , -0.91287093, -0.3825599 ,  0.7234623 ],
       [-1.252275  ,  1.09544512,  1.05437242,  1.90870905],
       [ 1.1504765 , -0.91287093, -1.10102607, -1.05440782],
       [ 1.42620208,  1.09544512,  0.33590626,  1.90870905],
       [ 0.36268912, -0.91287093, -1.81949223, -1.6470312 ],
       [ 0.87475092,  1.09544512, -1.81949223, -1.05440782],
       [-0.7402132 ,  1.09544512,  0.33590626, -1.05440782],
       [ 0.0081848 , -0.91287093,  0.33590626, -1.6470312 ],
       [-0.77960257,  1.09544512,  0.33590626,  1.31608568],
       [-0.85838131, -0.91287093,  1.05437242, -1.05440782],
       [ 1.58375955,  1.09544512, -1.81949223, -1.6470312 ],
       [-0.85838131,  1.09544512, -1.10102607,  0.13083893],
       [ 0.99291902,  1.09544512, -0.3825599 ,  1.31608568],
       [-0.38570888, -0.91287093,  1.05437242,  0.7234623 ],
       [-0.77960257,  1.09544512, -1.81949223,  0.13083893],
       [ 0.24452102, -0.91287093, -1.10102607,  0.7234623 ],
       [ 1.2686446 , -0.91287093, -1.81949223,  1.31608568],
       [ 1.50498082, -0.91287093, -1.81949223, -0.46178445],
       [ 1.66253829,  1.09544512, -0.3825599 ,  0.13083893],
       [-0.6220451 ,  1.09544512,  1.05437242, -1.05440782],
       [-1.05532815, -0.91287093, -1.81949223,  0.13083893],
       [-0.85838131,  1.09544512,  1.05437242,  1.90870905],
       [-1.44922184, -0.91287093, -0.3825599 ,  0.13083893],
       [-0.70082383,  1.09544512, -1.10102607,  1.90870905],
       [ 1.18986587,  1.09544512, -1.81949223,  1.31608568],
       [-0.14937267,  1.09544512,  1.05437242,  1.90870905],
       [-1.40983247,  1.09544512, -1.81949223, -1.05440782]])

In [21]:
prediction = model.predict(x_test)

2/2 [==============================] - 0s 2ms/step

In [22]:
import numpy
numpy.array(x_test[0])

array([-1.33105373, -0.91287093, -0.3825599 , -1.05440782])

In [23]:
model.save('heart_anomaly_model.h5', model)

c:\Users\ashen\anaconda3\envs\detection\lib\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [24]:
prediction = model.predict(x_test)
print(prediction[:10])
prediction = np.argmax(prediction, axis=-1)
print(state_name[prediction[:1][0]])

2/2 [==============================] - 0s 1ms/step
[[0.03409904 0.9659009 ]
 [0.08927129 0.9107287 ]
 [0.82895845 0.17104155]
 [0.4726813  0.5273187 ]
 [0.7088712  0.2911288 ]
 [0.988447   0.01155299]
 [0.2223389  0.77766114]
 [0.29892337 0.7010766 ]
 [0.4756961  0.5243039 ]
 [0.9916997  0.0083003 ]]
Normal

In [25]:
prediction = np.argmax(prediction, axis=-1)
print(state_name[prediction])

Anomaly

In [34]:
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
le = LabelEncoder()
sc = StandardScaler()

df = pd.read_csv("./BPM_values.csv")

df['gender'] = le.fit_transform(df['gender'])
df['bred'] = le.fit_transform(df['bred'])
df['State'] = le.fit_transform(df['State'])
state_name = le.classes_
X = df.drop(columns=['State'])
y = df['State']
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=69)
input = [60, "female", 5, "German Shepherd"]

# Create mapping dictionaries
gender_map = {"female": 0, "male": 1}
breed_map = {"German Shepherd": 0, "Bulldog": 1, "Labrador Retriever": 2, "Golden Retriever": 3}
# X_new = np.array([[60 , 1, 5, 1 ]])
# Apply mappings
input[1] = gender_map[input[1]]
input[3] = breed_map[input[3]]

print(input)
X_new = np.array([input])
x_train = sc.fit_transform(x_train)
x_test = sc.transform(X_new)

# x_test = sc.transform(x_test)
model = load_model('heart_anomaly_model.h5')
prediction = model.predict(x_test)
print(prediction[:10])
prediction = np.argmax(prediction, axis=-1)
print(state_name[prediction][0])

[60, 0, 5, 0]
1/1 [==============================] - 0s 39ms/step
[[0.01223083 0.9877692 ]]
Normal

C:\Users\ashen\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(